<!-- # Shortname -->
<div>
	<%= form.label :short_name %>:<br />
	<%= form.text_field :short_name, :class => "shortname" %>
</div>


<!-- # Fullname -->
<div>
	<%= form.label :full_name %>:<br />
	<%= form.text_field :full_name, :class => "name" %>
</div>

<!-- # Type -->
<div>
	<%= form.label :type %>:<br />
	<%= form.text_field :source_type, :class => "other" %>
</div>

<!-- # Progress -->
<div>
	<%= form.label :progress %>:<br />
	<%= form.text_area :progress, :rows => 4, :class => "text" %>
</div>
