<!-- #Parentmale -->
<div>
	<%= form.label :parent_male %>:<br />
	<%= form.text_field :parent_male, :class => "group" %>
</div>

<!-- #Parentfemale -->
<div>
	<%= form.label :parent_female %>:<br />
	<%= form.text_field :parent_female, :class => "group" %>
</div>

<!-- #Childmale -->
<div>
	<%= form.label :child_male %>:<br />
	<%= form.text_field :child_male, :class => "group" %>
</div>

<!-- #Childfemale -->
<div>
	<%= form.label :child_female %>:<br />
	<%= form.text_field :child_female, :class => "group" %>
</div>

