<span class="toright">
	<%= link_to_function image_tag("help.png", :border => 0), "helpbox('works', 'form')", {:title => 'Show/hide the help page'} %>
</span>

<h1>Edit work</h1>

<div class="details crlfsafe" id="help"><%= @help_page.help_text %></div>

<div class="form">
	<!-- # START:errors -->
	<%= error_messages_for :work -%>
	<!-- # END:errors -->

	<%= flash_notice %>
	
	<fieldset>
		<legend>Enter work details</legend>
		<% form_for :work, :url => { 
			:action => "update", 
			:id=>@work.id, 
			:author_id => params[:author_id]},
			:html=>{:name => "formnaam"}do |form| %> 
			
			<%= render :partial => 'form', :object => form  %>
				<%= image_submit_tag ("accept.png", :alt => "save changes", :title => "save changes" , :class => 'image-submit') %>
				<%= link_to image_tag("cancel.png", :border=>0), {:action => "show", :id=>@work.id}, :title => "cancel changes"  %>
		<% end %>
	</fieldset>
</div>