<!-- #Name -->
<div>
	<%= form.label :name %>:<br />
	<%= form.text_field :name, :size => 50, :class => "name" %>
</div>

<div>
	<%= form.label :username %>:<br />
	<%= form.text_field :username, :size => 50, :class => "other" %>
</div>

<div>
	<%= form.label :email %>:<br />
	<%= form.text_field :email, :size => 50, :class => "other" %>
</div>

<div>
	<%= form.label :password %>:<br />
	<%= form.password_field :password, :class=> "password"  %>
</div>

<div>
	<%= form.label :password_confirmation %>:<br />
	<%= form.password_field :password_confirmation, :class=> "password" %>
</div>


