<h1>Create a new library</h1>

<div class="form">
<!-- # START:errors -->
	<%= error_messages_for :library -%>
<!-- # END:errors -->

  <fieldset>
  <legend>Enter library details</legend>
	<% form_for :library, :url => { :action => "create", :backtowork => params[:backtowork], :backtoreception => params[:backtoreception], :work_id => params[:work_id], :reception_id => params[:reception_id] } do |form| %> <!-- <label id="code.rails_app.controller_views.3"/> -->
	
	<%= render :partial => 'form', :object => form  %>
		<%= image_submit_tag ("accept.png", :alt => "save changes", :title => "save changes" , :class => 'image-submit') %>
			<% if params[:backtowork]=='library' %>
					<%= link_to image_tag("cancel.png", :border=>0), {:controller => 'works', :action => 'edit', :id => params[:work_id]}, :title => "cancel changes"  %>
			<% elsif params[:backtoreception]=='library' %>
					<%= link_to image_tag("cancel.png", :border=>0), {:controller => 'receptions', :action => 'edit', :id => params[:reception_id]}, :title => "cancel changes"  %>
			<% else %>
				<%= link_to image_tag("cancel.png", :border=>0), :action => 'index', :title => "cancel changes"  %>
			<% end %>

		<!--%= submit_tag "Create", :class => "submit" %-->
		<!--%= link_to "cancel", { :action => "index" }, :class => "cancel" %-->
  <% end %>
  </fieldset>
</div>