<h1>Weblinks works</h1>

<div class="form" method="get">

<%= flash_notice %>

<form name="formnaam" method="get">

<%= navigation @work_urls, "work title" %>

</form>
</div>

<%= will_paginate @work_urls %>

<% if editor? %>
	<!-- Add work_url button -->
	<%= link_to image_tag("add.png", :border=>0),  new_work_url_path, :title => "add new work_url" %>
<% end %>

	<%= no_records(@work_urls) %>

	<div class="work_urls_list" id="work_urls_list">
		<%= render :partial => "work_urllist" %>
	</div>
	<div class="work_urls_list" id="work_urls_list">
		<%= will_paginate @work_urls %>
	</div>
