<h1>Create a new reception type</h1>
<div class="form">
	<!-- # START:errors -->
		<%= error_messages_for :medium -%>
	<!-- # END:errors -->

  <fieldset>
		<legend>Enter reception type details</legend>
		<% form_for :medium, :url => { :action => "create", :backtoreception => params[:backtoreception], :reception_id => params[:reception_id] } do |form| %> 
			<%= render :partial => 'form', :object => form  %>
			<%= image_submit_tag ("accept.png", :alt => "save changes", :title => "save changes" , :class => 'image-submit') %>
			<% if params[:backtoreception]=='medium' %>
				<%= link_to image_tag("cancel.png", :border=>0), {:controller => 'receptions', :action => 'edit', :id => params[:reception_id]}, :title => "cancel changes"  %>
			<% else %>
				<%= link_to image_tag("cancel.png", :border=>0), :action => 'index', :title => "cancel changes"  %>
			<% end %>
		<% end %>
  </fieldset>
</div>