<h1>Countries</h1>

<div class="form" method="get">

<%= flash_notice %>

<form name="formnaam" method="get">

<%= navigation @countries, "country" %>

</form>
</div>

<%= will_paginate @countries %>

<% if editor? %>
	<!-- Add country button -->
	<%= link_to image_tag("add.png", :border=>0),  new_country_path, :title => "add new country" %>
<% end %>

	<%= no_records(@countries) %>

	<div class="countries_list" id="countries_list">
		<%= render :partial => "countrylist" unless @countries.empty? %>
	</div>
	 <%= will_paginate @countries %>
